=======================================
== This server is managed by Ansible ==
=======================================

Welcome to {{ ssh_host_title }}. {% if anonymize_logs %}
- This server is anonymizing logs.{% endif %}{% if configure_firewall %}
- UFW firewall is turned on, not all outgoing ports are allowed.{% endif %}{% if not ssh_gateway_ports %}
- Forwarding SSH tunnels to the gateway is not allowed{% endif %}{% if clear_shell_history %}
- The bash, python and other tools history is erased periodically for security reasons{% endif %}

NOTICE: Users can have personalized SSH rules (eg. some users can have enabled forwarding or gateway ports)
NOTICE: Any changes in /etc can be overwritten by Ansible deployment. Please add everything to Ansible roles and push deployment to manage server configuration

Have a nice day!
